
.bouton-choix{
	border:10px solid white;
	background-color: green;
	border-radius : 5px;
	font-size :150%;
	color: white;
	cursor: pointer;
}
body
{
    background: url('http://2.bp.blogspot.com/-oZgKLatAYY8/TlqXE6MMVTI/AAAAAAAAB-o/ASssT4ac3b8/s1600/IMG_5385.JPG') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.btn-perso {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
